@model IEnumerable<Airline.Models.Flights>

@{
    ViewData["Title"] = "Read Flights";
}

<div class="row pt-4">
    <div class="text-center">
		<h2 class="text-black">Доступні рейси</h2>
	</div>

    <br><br>

    <div class="col-6 text">
        <span class="badge rounded-pill bg-warning"> <a asp-action="Create" asp-controller="Flights" class="btn btn-warning"> ДОДАТИ НОВИЙ РЕЙС</a> </span>
    </div>
  
</div>
<br>
<br>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Номер рейсу</th>
            <th>Аеропорт вильоту</th>
            <th>Аеропорт прильоту</th>
			<th>Дата вильоту</th>
            <th>Дата прильоту</th>
            <th>Час вильоту</th>
            <th>Час прильоту</th>
            <th>Авіакомпанія, яка надає послуги</th>
            <th>Дії</th>
        </tr>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Namber</td>
                <td>@obj.DepartureAirport</td>
                <td>@obj.ArrivalAirport</td>
                <td>@obj.DepartureDate</td>
                <td>@obj.ArrivalDate</td>
                <td>@obj.DepartureTime</td>
                <td>@obj.ArrivalTime</td>
                <td>@obj?.Airlines?.Name</td>
                <td>
                    <span class="badge rounded-pill bg-primary"> <a asp-controller="Flights" asp-action="Update" asp-route-Id="@obj.Id" class="btn btn-primary m-1"> Оновити</a></span>
                    <span class="badge rounded-pill bg-danger"><a asp-controller="Flights" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger m-1"> Скасувати</a> </span>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p><b>ДОСТУПНИХ РЕЙСІВ НЕМАЄ!</b></p>
}